# SPDX-FileCopyrightText: 2026 liudng <liudng@users.noreply.github.com>
# SPDX-License-Identifier: GPL-3.0-or-later

# Qt6 official code style
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4

# Line length
ColumnLimit: 100
ReflowComments: true

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterNamespace: false
  BeforeElse: false
  BeforeCatch: false
  BeforeLambda: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Short forms
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

# Namespaces
NamespaceIndentation: None
FixNamespaceComments: true

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<Q'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '^"hello/'
    Priority: 3
  - Regex: '.*'
    Priority: 4

# Pointers & casts
PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterCStyleCast: true
SpaceAroundPointerQualifiers: Default

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

# Arguments & parameters
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false

# Misc
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
